<main>
  <div id="header">
    <div id="logo">
      <img src="assets/images/CrazyDaveSolutions.png" alt="Crazy Dave Soluions Logo" class="img-fluid">
    </div>
    <div id="options">
      <div id="option" *ngFor="let option of options, index as i" (click)="navigate(i)" [style]="{'background-color': option.isSelected==1?'rgba(253, 180, 180, 0.3)':'initial'}">
        {{option.name}}
      </div>
    </div>
  </div>
  <div id="start-back-header">
  </div>
  <div id="content">
    <router-outlet />
  </div>
  <app-footer/>
</main>
